// .i-span {
//   position: relative;
//   top: -7px;
//   padding-left: 20px;
// }

// .text-primary {
//   color: #1fdf64;
// }

// .opacity-primary {
//   opacity: 1 !important;
// }

// .opacity-secondary {
//   opacity: 0.7;
// }

// .span-size {
//   font-size: 12.5px;
// }
.active {
  opacity: 1;
}

.active-2 {
  opacity: 0.8;
}

.bg-light {
  background: #131313;
  opacity: 0.3;
}

.m-2 {
  margin-left: 2rem;
}

.offline {
  color: #fff !important;
  opacity: 0.7 !important;
}

.pointer {
  cursor: pointer;
}
